<!DOCTYPE html>
{% extends 'users/base.html' %}
<html lang="en">
<head>
    <title>{% block title %}Notes{% endblock %}</title>
</head>
{% block content %}
<p>

    <div class="container">
        <div class="col-md-4 col-md-offset-4">

            <h1>{{ list.title }}</h1>

            </div>
                {% if message %}
                <div class="table-middle">{{ message }}</div>
                {% endif %}
            </div>
            <div>
                <p>实验内容：</p>
            <p>{{ list.content }}</p>
            </div>
            <div>
                 <p>实验截止日期：</p>
            <p>{{ list.deadline_date }}</p>
            </div>
            <div>
                 <p>实验发布日期：</p>
            <p>{{ list.publish_date }}</p>
            </div>

             <a href="/notereciver" class="btn btn-link-1">返回</a>

</body>
{% endblock %}
</html>