<!DOCTYPE html>
{% extends 'users/base_teacher.html' %}
<html lang="en">
<head>
    <title>{% block title %}File Manager{% endblock %}</title>
</head>
{% block content %}

    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <h2>File Manage</h2>
            </div>
    </div>
    <!--数据表-->
<div class="table-middle">
                  <!-- tile body -->
                  <div>
                    <table class="table table-bordered" >
                      <thead>
                        <tr>
                          <th>文件名</th>
                          <th>所有者</th>
                          <th>上传日期</th>
                          <th>下载</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for i in list %}
                        <tr>
                         <td>{{ i.file_name }}</td>
                         <td>{{ i.file_owner }}</td>
                         <td>{{ i.upload_date }}</td>
                         <td>
                            <div>
                              <input type="checkbox" value="1" id="chck01">
                              <label for="chck01"></label>
                            </div>
                          </td>
                         </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
    <a href="#" class="btn btn-link-1">下载所选</a>
    </div>

</body>
{% endblock %}
</html>
