<!DOCTYPE html>
{% extends 'users/base.html' %}
{% load staticfiles %}
<head>
    <title>{% block title %}Login{% endblock %}</title>
</head>
{% block content %}
<body>
<div>
<h1>Linux实验报告管理系统</h1>
</div>

<!-- 按钮触发模态框 -->
<br>
<button data-toggle="modal" data-target="#Modal" class="btn btn-link-1">登录</button>
<br>

<!--<button class="btn-link-1 btn-middle" onclick="location.href='/register'">注册</button>-->

<!-- login模态框 -->

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    学生/教师 登录
                </h4>
            </div>

            <div class="modal-body">
                <form class='form-login' action="/login/" method="post" >
                    {% csrf_token %}

                    <!--双向选择box-->
                    <!--<div class="form-group">-->
                    <!--<input name="usertype" type="checkbox" data-size="small" id="login_identity" value="stu">-->
                    <!--</div>-->

                    <div class="form-group">
                        {{ login_form.username.label_tag }}
                        {{ login_form.username}}
                    </div>
                    <div class="form-group">
                        {{ login_form.password.label_tag }}
                        {{ login_form.password }}
                    </div>
                    <button type="submit" class="btn-big btn-primary">提交</button>
                </form>

            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
    <div class="details">
    <details >
    <summary>Copyright © 2019.</summary>
        <p>University <a href="http://www.dlnu.edu.cn">DLNU</a> All rights reserved.</p>
    </details>
    </div>
                    {% if message %}
                    <div>{{ message }}</div>
                    {% endif %}

</body>
{% endblock %}







