{% load staticfiles %}
<head>
    {% block css %}

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/form-elements.css' %}">

    <link rel="stylesheet" href="{% static 'css/login-register.css' %}">
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    {% endblock %}

</head>
{% block content %}
<body >

<!-- 按钮触发模态框 -->
<br>
<button data-toggle="modal" data-target="#Modal1" class="btn-link-1 btn-middle">登录</button>
<br>
<button class="btn-link-1 btn-middle" onclick="location.href='/register'">注册</button>

<!-- login模态框 -->

<div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    学生登录
                </h4>
            </div>
            <div class="modal-body">
                <form class='form-login' action="/login/" method="post" >
                    {% csrf_token %}
                    <div class="form-group">
                        {{ login_form.username.label_tag }}
                        {{ login_form.username}}
                    </div>
                    <div class="form-group">
                        {{ login_form.password.label_tag }}
                        {{ login_form.password }}
                    </div>
                    <button type="submit" class="btn btn-primary">提交</button>
                </form>

            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


                    {% if message %}
                    <div>{{ message }}</div>

                    {% endif %}

</body>
{% endblock %}