<!DOCTYPE html>
{% extends 'users/base_teacher.html' %}
<html>
<head>
{% block title %}Home{% endblock %}
</head>>
{% block content %}
<body>

    {% if message %}
    <div>{{ message }}</div>
    {% endif %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <h1>你好,{{ request.session.user_name }}老师！</h1>
            <div>
             <a href="/filemanage"><img border="0" src="/static/img/t_download.svg" /></a>
            <br>
                报告下载
             </div>
            <br>
            <div>
             <a href="/noteediter">
                 <img border="0" src="/static/img/t_publish.svg" /></a>
                <br>
                报告通知发布
            </div>
        </div>
    </div>


</body>
{% endblock %}
</html>