{% extends 'users/base.html' %}
{% block title %}主页{% endblock %}
{% block content %}
    {% if request.session.is_login %}
    {% if message %}
    <div>{{ message }}</div>
    {% endif %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <h1>你好,{{ request.session.user_name }}！</h1>
            <h2>ssssssssssssssssssssssssssssssssssssssss</h2>
             <a href="/filemanage">
             <img border="0" src="/static/img/download.png" />
                 <a href="">
            <img border="0" src="/static/img/notification.png" />
            </a>
            </a>
        </div>
    </div>

    {% else %}
    <h1>你尚未登录，只能访问公开内容！</h1>
    {% endif %}
{% endblock %}
